
   .sbody
  {
         p{
            background-color : lightgreen;
            padding : 20px;
          }

          span{
               font-size     :1.5625rem;
               text-transform : uppercase;
            }
 }
 .nav-toggle{
    font-size : 2rem;
    float : right;
    color : black;
    z-index :30;
    position : absolute;
    margin-top : -2.25em;
    margin-left:  1.5em;
    cursor : pointer;
 }
 .container{
     background-color : #1E90FF;
     opacity : 0.7;
     height : 12em;
     font-size : 1.75rem;
     position : relative;
     text-align : center;
     display : none;
 }
 .container table{
 position : absolute;
 top : 0px;
 }
 .container table, tr ,td{
     width : 100%;
 }
 .container table tr,td{
     border : 1px solid black;
     padding : 0.5em 0.25em;
 }
  .container table tr:nth-child(even){
       background-color : darkblue;
  }
 .container table tr td a {
     text-decoration : none;
     color : black;
   }
 .container table tr td a:hover{
    color : white;
 }
 #check{
   display : none;
 }
  .fa-twitter, .fa-facebook, .fa-instagram, .fa-google
  {
       margin-left : 5.625em;
       padding : 1.25em;
       border-radius : 100%;
  }
.fa-twitter
{
      background-color : #00acee;
      color : white;
}
.fa-facebook
{
       background-color :  #3b5998;
       color :white;
}
.fa-instagram
{
    background-color :#E1306C;
    color : white;
}
.fa-google
{
     background-color :#db3236;
     color : white;
}
.large{
   margin-left : 2em;
}
html
{
  font-size : 16px;
}
@media (min-width : 320px)
{
   html{
       font-size : 0.5rem;
   }
 .logo, .header p{
        display :none;
    }
  .sbody{
     font-size : 2rem;
  }
    .mti{
      top : 2em;
      left : 16vw;
    }
    .header{
      height : 7em;
      z-index : 15;
    }
    #check:checked ~ .container{
      display : block;
    }
  #main
   {
     width : 100%;
   }
   .fa-twitter,.fa-facebook,.fa-instagram,.fa-google{
        margin-left : 0.5em;
   }
}

@media (min-width:768px)
{
     html{
        font-size : 1rem;
     }
     #main{
       width : 75%;
       margin : 0px auto;
     }
}
@media (min-width :1024px)
{
    html{
      font-size :16px;
    }
    .logo, .header p{
       display : block;
    }
    .header{
       height : 12.75em;
    }
    .mti{
      top : 4.5em;
      left : 45vw;
    }
    #main{
      width : 50%;
      margin : 0px 25% 0px 25%;
    }
    .container{
    background-color :#1E90FF;
    height :3.75em;
    position : sticky;
    z-index : 67;
    top : 0px;
    display : flex;
    font-size :1em;
    }
    .container table, tr, td{
        border : none;
    }
    .container table tr{
        float : left;
        border : none;
        width : 20%;
        overflow : hidden;
    }
    .container table tr td a{
       padding : 0.1em 1em;
       font-size : 1.25rem;
       justify-content : center;
       align-items : center;
       display : block;
       border : none;
    }
    .container table tr td a:hover{
       color : white;
    }
    a:link,a:hover,a:active,a:visited{
      color:black;
      text-decoration:none;
      text-transform :capitalize;
      text-font:bold;
    }
    .nav-toggle{
       display : none;
    }
}
